.card {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.user-form__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    align-items: center;
}

.user-form__controls button{
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: blueviolet;
    color: white;
    width: 8rem;
    max-width: 100%;
    align-self: flex-end;   
    margin: 0 auto;
}

.user-form__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

.user-form__control input {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
}
